@font-face {
    font-family: Pajarakan Regular;
    src: url(../fonts/Pajarakan\ Studs.otf);
}

@font-face {
    font-family: Product Regular;
    src: url(../fonts/Product\ Sans\ Regular.ttf);
}

.iconify {
    transition: 1s;
    content: url('https://api.iconify.design/octicon-cloud-upload.svg?height=16');
    width: 100px;
    vertical-align: -0.125em;
}

.dropzone:hover .iconify{
    content: url('https://api.iconify.design/octicon-cloud-upload.svg?color=%23EAB242&height=16');
    transition: 1s;
    vertical-align: -0.125em;
}

*{
    font-family: Product Regular;
}

.active {
    color: #5B3A00!important;
    background-color: #EAB242;
    border-radius: 10px;
    padding: 5px;
}

.etnic-san{
    font-family: Pajarakan Regular;
}

.dst-signin {
    display: inline;
    visibility: visible;
}

.dst {
    display: block;
    visibility: visible;
}

.mbl {
    display: none;
    visibility: hidden;
}

html,body {
    margin: 0!important;
    max-width: 100%;
    height: 100%;
    background-color: #5B3A00;
}

body::-webkit-scrollbar {
    display: none;
}

.row-fluid {
    margin: 0!important;
    height: 100%;
}

/* profile user */
.infogroup{
    position: relative;
    width: 200px;
}

.snav {
    position: fixed;
    z-index: 9999;
    right: 0;
}

.profile-opt:hover {
    color: #5B3A00;
}

.img_image_profile_user {
    width: 160px;
    height: 160px;
    overflow: hidden;
    object-fit: cover;
}

.img_image_profile_user_edit {
    width: 80px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
}

.prof-desc{
    width: 50%;
}
/* profile user */

/* font-size */
.fs60{
    font-size: 60px;
}

.fs48{
    font-size: 48px;
}

.fs36 {
    font-size: 36px;
}

.fs24 {
    font-size: 24px;
}

.fs20{
    font-size: 20px;
}

.fs16{
    font-size: 16px;
}

.fs14{
    font-size: 14px;
}

.fs12{
    font-size: 12px;
}
/* font-size */


/* font-color */
.fclgrey{
    color: #d3d3d3;
}

.fcgrey{
    color: gray;
}

.fcblack{
    color: black;
}

.fcwhitesmoke{
    color: whitesmoke;
}

.fclbrown{
    color: #EAB242;
}

.fcdbrown{
    color: #5B3A00;
}
/* font-color */

/* background-color */
.bglbrown{
    background-color: #EAB242;
}

.bglgrey{
    background-color: rgb(230, 230, 230);
}

.bgbrown{
    background-color: #5B3A00;
}

.bgpinkdarker{
    background-color: #BF1B71;
}

.bgpurple{
    background-color: #90226B;
}

.bgwhitesmoke{
    background-color: whitesmoke;
}
/* background-color */


/* padding */
.pd54{
    padding: 54px;
}

.pd24{
    padding: 24px;
}

.pd16{
    padding: 16px;
}

.pd8{
    padding: 8px;
}

.pb16{
    padding-bottom: 16px;
}

.pb72{
    padding-bottom: 72px;
}

.plr8{
    padding-left: 8px;
    padding-right: 8px;
}

.pt72{
    padding-top: 72px;
}
/* padding */


/* margin */
.mt-12{
    margin-top: 12px;
}

.mt-24{
    margin-top: 24px;
}

.mt-36{
    margin-top: 36px;
}

.mt-48{
    margin-top: 48px;
}

.mt-72{
    margin-top: 72px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb8 {
    margin-bottom: 8px;
}

.ml12{
    margin-left: 12px;
}
/* margin */

/* box showcase */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 330px);
}

.grid-item {
    display: none;
    background-color: white;
    margin: 8px;
    font-size: 18px;    
}

.grid-container-footer {
    display: grid;
    grid-template-columns: repeat(3, 30%);
}

.grid-item-footer {
    margin: 8px;
    font-size: 18px;    
}

.grid-container-edit-profile {
    display: grid;
    grid-template-columns: 35% 65%
}

.grid-item-edit-profile {
    margin: 8px;
    font-size: 18px;    
}

.thumbnail_wrappper:hover .thumb_title {
    transition-duration: 1s;
    visibility: visible;
    animation: fadeIn 1s;
}

.thumbnail_wrappper{
    width: 100%;
    position: relative;    
}

.thumbnail {
    max-width: 330px;
    height: 220px;
    overflow: hidden;
    object-fit: cover;
}

.thumb_img {
    width: auto;
    height: 100%;
}

.thumb_title {
    width: 100%;
    background: linear-gradient(to top, rgba(38,38,38,0.8799894957983193) 16%, rgba(38,38,40,0.700717787114846) 62%, rgba(119,119,119,0) 100%);    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.thumb_desc {
    padding: 4px;
    font-size: 16px;
}

.user-nm {
    color: #5B3A00;
}

.user-nm:hover{
    text-decoration: none;
    color: #5B3A00;
}

.thumb_desc_img {
    width: 20px;
    height: 20px;
    overflow: hidden;
    object-fit: cover;
}

.thumb_desc_img_image {
    width: 20px;
    height: 20px;
}
/* box showcase */

/* form */
.stform{
    border-radius: 10px;
    border: 0px;
}

.stform-login{
    padding: 12px;
    height: 60px;
    width: 600px;
    font-size: 18px;
}

.stform-login::placeholder{
    color: whitesmoke;
}

.stform-login:focus{
    outline: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.stform-login::placeholder{
    color: #5B3A00;
}

.stform-search:focus{
    outline: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.filter-select:focus{
    outline-width: 10px;
    outline-color: #5B3A00;
}
/* form */

/* button */
.button-main{
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
}

.button-main{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    font-size: 18px;
    transition: 1s;
    text-decoration: none;
}

.button-main:hover{
    transition: 1s;
    background-color: rgb(206, 145, 22);
    color: whitesmoke;
    text-decoration: none;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.button-opt{
    border: 3px solid whitesmoke;
    background-color: transparent;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 18px;
    transition: 1s;
    text-decoration: none;
}

.btn-hv:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    color: whitesmoke;
    background-color: rgb(206, 145, 22);
    transition: 1s;
}

.text-hv:hover {
    color: whitesmoke;
}

.button-opt:hover{
    border: 3px solid #EAB242;
    transition: 1s;
    background-color: transparent;
    color: #EAB242;
    text-decoration: none;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.btn-circle.btn-lg {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 30px;
}

.btn-circle:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-shadow:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-search {
    display: none;
}

/* button */

/* box-shadow */
.bx-shadow-lg{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.bx-shadow-md{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.bx-shadow-sm{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* logo */
.spsc{
    max-width: 580px;
}

.footer-img {
    max-height: 85px;
}

.icon-chat{
    max-width: 100px;
}

.icon-profil{
    max-width: 72px;
}

.icon-trigger{
    width: 36px;
}

.trg-icon{
    position: absolute;
    z-index: 10000;
    right: 12px;
}
/* logo */

/* animation */
.fadeup {
    animation-name: fadeInUp;
    transition: all 2s;    
}

.fadeinfast {
    animation: fadeIn 0.5s ease; 
}

.fadein{
    animation: fadeIn 2s ease; 
}

.fadeinup{
    animation: fadeInUp 2s ease; 
}

.fadeindown {
    animation: fadeInDown 2s ease; 
}

.fadeinleftbig{
    animation: fadeInLeftBig 2s ease; 
}

.fadeinrightbig{
    animation: fadeInRightBig 2s ease; 
}

.slideindown{
    animation: slideInDown 2s ease;
}

.slideinup{
    animation: slideInUp 2s ease;
}

.slideinleft{
    animation: slideInLeft 1s ease;
}

.slideoutleft{
    animation: slideOutLeft 1s ease;
}

.slideinright{
    animation: slideInRight 1s ease;
}

.slideoutright{
    animation: slideOutRight 1s ease;
}

/* with delay */
.fadeup-d2 {
    animation-delay: 2s;
    animation-name: fadeInUp;
    transition: all 2s;    
}

.fadeindown-d3 {
    animation-delay: 3s;
    animation: fadeInDown 2s ease; 
}
/* with delay */
/* animation */

/* navigation */
.navbar-brand{
    padding: 0px;
}

.navpd {
    padding: 24px;
}

.img_image_profile {
    width: 36px;
    height: 36px;
}
/* navigation */

/* footer */
.footer-fixed{
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
/* footer */

/* cursor */
.pointer-cursor{
    cursor: pointer;
}
/* cursor */

/* drop image */
.dropzone {
    background: white;
    border-radius: 5px;
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.dropzone-detil {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* drop image */


@media only screen and (max-width: 800px) {
    .dst-signin {
        display: none;
        visibility: hidden;
    }

    .dst {
        display: none;
        visibility: hidden;
    }
    
    .mbl {
        display: block;
        visibility: visible;
    }
    
    .spsc{
        max-width: 180px;
    }

    .fs60{
        font-size: 36px;
    }

    .stform-login{
        width: 100%
    }
    .grid-container{
        grid-template-columns: repeat(1, auto);
    }

    .grid-container-footer {
        grid-template-columns: repeat(1, auto);
    }

    .grid-container-edit-profile {
        grid-template-columns: repeat(1, auto);
    }
    
    .navpd {
        padding: 16px;
    }

    .thumbnail {
        max-width: 100%;
    }

    .thumb_img {
        width: 100%;
    }

    .pd54 {
        padding: 16px;
    }

    .prof-desc{
        width: 100%;
    }
}